* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

body #contact_us .contact_us_text, body #our_blog .our_blog_title, body #testimonials .testimonials_title, body #pet_services .pet_services_left .pet_services_left_title, body #our_Statistics .our_Statistics_title, body #what_we_do .what_we_do_title, body #welcome_to_our_website .welcome_to_our_website_title {
  font-size: 40px;
}

body #contact_us, body #our_blog, body #pet_services, body #what_we_do, body #welcome_to_our_website {
  height: 900px;
  text-align: center;
  padding: 120px;
}

body #contact_us .contact_us_content .contact_us_content_right .contact_us_content_right_btn, body #contact_us .contact_us_content .contact_us_content_right .contact_us_content_right_textarea, body #contact_us .contact_us_content .contact_us_content_right .contact_us_content_right_inputEmail, body #contact_us .contact_us_content .contact_us_content_right .contact_us_content_right_inputName {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  outline: none;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 2px 14px;
}

body #footer .footer_NEWSLETTER p, body #footer .footer_ABOUT_US_Contact_Info ul p, body #footer .footer_WHO_WE_ARE p, body #footer .footer_ABOUT_US p {
  color: #727377;
  line-height: 1.6;
  margin: 30px 0px;
}

body #header {
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}
body #header .header_logoAndNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 56px 0px 56px;
}
body #header .header_logoAndNavigation .header_logo {
  color: white;
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
}
body #header .header_logoAndNavigation .header_navigation_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 992px) {
  body #header .header_logoAndNavigation .header_navigation_ul {
    display: none;
  }
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li {
  transition: 0.3s ease-in-out;
  padding: 14px 12px;
  border-radius: 4px;
  margin: 0px 4px;
  color: white;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li.active {
  background-color: white;
  color: black;
  cursor: pointer;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li .header_navigation_li_icon {
  font-size: 12px;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li_dropdown {
  position: relative;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li_dropdown .header_navigation_li_dropdown_lopGia {
  background-color: transparent;
  position: absolute;
  height: 60%;
  width: 110%;
  left: -4px;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li_dropdown .header_navigation_li_dropdown_list {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background-color: white;
  left: -4px;
  top: 60px;
  transition: 0.4s ease-in-out;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li_dropdown .header_navigation_li_dropdown_list .header_navigation_li_dropdown_list_ul {
  list-style: none;
  background-color: black;
  color: white;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li_dropdown .header_navigation_li_dropdown_list .header_navigation_li_dropdown_list_ul .header_navigation_li_dropdown_list_li {
  padding: 16px 18px;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li_dropdown .header_navigation_li_dropdown_list .header_navigation_li_dropdown_list_ul .header_navigation_li_dropdown_list_li:hover {
  background-color: white;
  color: black;
}
body #header .header_logoAndNavigation .header_navigation_ul .header_navigation_li_dropdown:hover .header_navigation_li_dropdown_list {
  display: block;
}
body #header .header_logoAndNavigation .header_navigation_menu {
  display: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 30px;
  border: none;
}
@media screen and (max-width: 992px) {
  body #header .header_logoAndNavigation .header_navigation_menu {
    display: block;
  }
}
body #header .header_content {
  text-align: center;
  transition: 0.5s ease-in-out;
}
body #header .header_content .header_content_title {
  font-size: 54px;
  text-transform: uppercase;
  color: white;
  margin: 220px 0px 34px 0px;
  animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  transition: all 0.5s;
}
@media screen and (max-width: 830px) {
  body #header .header_content .header_content_title {
    font-size: 40px;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 600px) {
  body #header .header_content .header_content_title {
    font-size: 30px;
    transition: all 0.5s;
  }
}
body #header .header_content .header_content_text {
  color: white;
  width: 466px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 60px;
  animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  transition: all 0.5s;
}
@media screen and (max-width: 830px) {
  body #header .header_content .header_content_text {
    font-size: 14px;
    transition: all 0.5s;
  }
}
body #header .header_content .header_content_btn {
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid white;
  color: white;
  padding: 12px 8px;
  font-size: 18px;
  transition: transform 0.5s ease-in-out;
}
body #header .header_content .header_content_btn:hover {
  cursor: pointer;
  transform: translateY(-4px);
}
body #header .header_footer {
  text-align: center;
}
body #header .header_footer .header_footer_icon {
  color: white;
  font-size: 10px;
  padding: 2px;
  transition: transform 0.3s ease-in-out;
  margin-top: 150px;
}
body #header .header_footer .header_footer_icon:hover {
  cursor: pointer;
  transform: scale(1.4);
}
body #welcome_to_our_website {
  height: auto;
  animation: focus-in-contract-bck 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
body #welcome_to_our_website .welcome_to_our_website_text {
  width: 900px;
  margin: 50px auto;
  opacity: 0.5;
  line-height: 1.6;
  animation: none;
  transition: all 0.5s;
}
@media screen and (max-width: 992px) {
  body #welcome_to_our_website .welcome_to_our_website_text {
    width: 260px;
    transition: all 0.5s;
  }
}
body #welcome_to_our_website .welcome_to_our_website_img {
  width: 90%;
}
body #what_we_do .what_we_do_title_ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
body #what_we_do .what_we_do_title_ul .what_we_do_title_li {
  width: 25%;
  margin: 20px 0px;
}
body #what_we_do .what_we_do_title_ul .what_we_do_title_li .what_we_do_title_li_img {
  border-radius: 50%;
  width: 120px;
  transition: transform 0.5s;
}
body #what_we_do .what_we_do_title_ul .what_we_do_title_li .what_we_do_title_li_img:hover {
  cursor: pointer;
  animation: spin 1s;
}
body #what_we_do .what_we_do_title_ul .what_we_do_title_li .what_we_do_title_title {
  margin: 20px 0px;
}
body #what_we_do .what_we_do_title_ul .what_we_do_title_li .what_we_do_title_text {
  margin: 0 auto;
  opacity: 0.5;
}
body #our_Statistics {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  text-align: center;
  animation: bg-pan-bl 40s both;
}
body #our_Statistics .our_Statistics_title {
  color: white;
  padding: 80px 0px;
}
body #our_Statistics .our_Statistics_ul {
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body #our_Statistics .our_Statistics_ul .our_Statistics_li {
  margin-bottom: 40px;
}
body #our_Statistics .our_Statistics_ul .our_Statistics_li .our_Statistics_li_spanNumber {
  font-size: 70px;
}
body #our_Statistics .our_Statistics_ul .our_Statistics_li .our_Statistics_li_spanText {
  font-weight: 600;
  font-size: 18px;
  padding: 20px 0px;
  display: block;
}
body #pet_services {
  width: 100%;
  display: flex;
}
body #pet_services .pet_services_left {
  width: 30%;
  height: auto;
  padding: 30px;
}
body #pet_services .pet_services_left .pet_services_left_title {
  text-align: left;
}
body #pet_services .pet_services_left .pet_services_left_text1 {
  text-align: left;
  line-height: 2;
  margin: 20px 0px;
  opacity: 0.6;
}
body #pet_services .pet_services_left .pet_services_left_text2 {
  text-align: left;
  line-height: 2;
  opacity: 0.6;
}
body #pet_services .pet_services_right {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  transition: all 0.5s;
}
body #pet_services .pet_services_right .pet_services_right_item {
  width: calc(50% - 26px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 25px rgba(106, 199, 254, 0.316), 0 0 5px rgb(255, 255, 255);
  margin: 10px;
  border-radius: 4px;
}
body #pet_services .pet_services_right .pet_services_right_item .pet_services_right_item_icon {
  font-size: 50px;
  color: orange;
  transform: rotate(45deg);
  margin: 20px 0px;
}
body #pet_services .pet_services_right .pet_services_right_item .pet_services_right_item_title {
  font-size: 32px;
  margin: 20px 0px;
}
body #pet_services .pet_services_right .pet_services_right_item .pet_services_right_item_text {
  line-height: 1.6;
  opacity: 0.6;
}
body #pet_services .pet_services_right .pet_services_right_item:hover {
  background: #ff9900;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
body #pet_services .pet_services_right .pet_services_right_item:hover .pet_services_right_item_icon {
  color: white;
}
body #pet_services .pet_services_right .pet_services_right_item:hover .pet_services_right_item_title {
  color: black;
}
body #pet_services .pet_services_right .pet_services_right_item:hover .pet_services_right_item_text {
  color: white;
  opacity: 1;
}
body #testimonials {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}
body #testimonials .testimonials_title {
  text-align: center;
  color: white;
  padding: 60px 0px;
}
body #testimonials .testimonials_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  width: 1300px;
}
body #testimonials .testimonials_ul .testimonials_li {
  width: 20%;
  margin-bottom: 60px;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  opacity: 1;
}
body #testimonials .testimonials_ul .testimonials_li .testimonials_li_text {
  color: white;
  line-height: 1.6;
  text-align: center;
}
body #testimonials .testimonials_ul .testimonials_li .testimonials_li_img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}
body #testimonials .testimonials_ul .testimonials_li .testimonials_li_span {
  font-size: 24px;
  color: orange;
  font-weight: 600;
  float: right;
}
body #testimonials .testimonials_ul .testimonials_li:hover {
  transform: translateY(-80px);
  opacity: 0;
}
@media screen and (max-width: 992px) {
  body #testimonials .testimonials_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    width: 800px;
  }
}
body #our_blog {
  height: auto;
}
body #our_blog .our_blog_title {
  text-align: center;
  padding: 60px 0px;
}
body #our_blog .our_blog_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
body #our_blog .our_blog_ul .our_blog_li, body #our_blog .our_blog_ul .our_blog_li_last {
  width: 30%;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 6px;
  text-align: left;
  height: 456px;
}
body #our_blog .our_blog_ul .our_blog_li:hover, body #our_blog .our_blog_ul .our_blog_li_last:hover {
  animation: bounce-top 0.9s both;
}
body #our_blog .our_blog_ul .our_blog_li .our_blog_li_img, body #our_blog .our_blog_ul .our_blog_li_last .our_blog_li_img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
body #our_blog .our_blog_ul .our_blog_li .our_blog_li_title, body #our_blog .our_blog_ul .our_blog_li_last .our_blog_li_title {
  padding: 16px;
  font-weight: 500;
  font-size: 20px;
}
body #our_blog .our_blog_ul .our_blog_li .our_blog_li_text, body #our_blog .our_blog_ul .our_blog_li_last .our_blog_li_text {
  padding: 16px;
  opacity: 0.6;
}
body #our_blog .our_blog_ul .our_blog_li .our_blog_li_tagA, body #our_blog .our_blog_ul .our_blog_li_last .our_blog_li_tagA {
  padding: 16px;
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 140, 0);
  font-weight: 600;
}
body #our_blog .our_blog_ul .our_blog_li_last {
  padding: 30px;
}
body #our_blog .our_blog_ul .our_blog_li_last .our_blog_li_last_text {
  padding: 16px 0px;
  transition: 0.4s ease-in-out;
  font-size: 20px;
}
body #our_blog .our_blog_ul .our_blog_li_last .our_blog_li_last_text:hover {
  color: rgb(255, 140, 0);
  cursor: pointer;
}
body #our_blog .our_blog_ul .our_blog_li_last span {
  color: rgb(255, 115, 0);
}
body #google_map_address {
  height: auto;
}
body #google_map_address .google_map_address_img {
  width: 100%;
  object-fit: cover;
}
body #contact_us {
  height: auto;
}
body #contact_us .contact_us_text {
  text-align: center;
  padding: 60px 0px;
}
body #contact_us .contact_us_content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
body #contact_us .contact_us_content .contact_us_content_left {
  width: 50%;
  text-align: left;
}
body #contact_us .contact_us_content .contact_us_content_left .contact_us_content_left_text {
  font-size: 30px;
  font-weight: 400;
  color: orange;
  margin: 30px 0px;
}
body #contact_us .contact_us_content .contact_us_content_left .contact_us_content_left_ul {
  list-style: none;
}
body #contact_us .contact_us_content .contact_us_content_left .contact_us_content_left_ul .contact_us_content_left_li {
  display: flex;
}
body #contact_us .contact_us_content .contact_us_content_left .contact_us_content_left_ul .contact_us_content_left_li .contact_us_content_left_li_container_icon {
  width: 30%;
  height: 90px;
}
body #contact_us .contact_us_content .contact_us_content_left .contact_us_content_left_ul .contact_us_content_left_li .contact_us_content_left_li_container_icon i {
  font-size: 30px;
}
body #contact_us .contact_us_content .contact_us_content_left .contact_us_content_left_ul .contact_us_content_left_li .contact_us_content_left_li_container_text p {
  opacity: 0.6;
  padding: 10px 0px;
}
body #contact_us .contact_us_content .contact_us_content_right {
  width: 50%;
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
body #contact_us .contact_us_content .contact_us_content_right .contact_us_content_right_textarea {
  height: 200px;
  padding-top: 10px;
}
body #contact_us .contact_us_content .contact_us_content_right .contact_us_content_right_btn {
  background-color: orange;
  border: none;
  border-radius: 6px;
}
@media screen and (max-width: 992px) {
  body #contact_us .contact_us_content {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
body #footer {
  background-color: black;
  height: 500px;
  padding: 50px 80px;
  display: flex;
  justify-content: space-evenly;
  animation: color_change-3x 4s linear infinite alternate both;
}
body #footer .footer_ABOUT_US {
  width: 20%;
}
body #footer .footer_ABOUT_US h3 {
  color: white;
  font-size: 22px;
}
body #footer .footer_WHO_WE_ARE {
  width: 20%;
}
body #footer .footer_WHO_WE_ARE h3 {
  color: white;
  font-size: 22px;
}
body #footer .footer_ABOUT_US_Contact_Info {
  width: 20%;
}
body #footer .footer_ABOUT_US_Contact_Info h3, body #footer .footer_ABOUT_US_Contact_Info span {
  color: white;
  font-size: 22px;
}
body #footer .footer_ABOUT_US_Contact_Info ul {
  list-style: none;
}
body #footer .footer_ABOUT_US_Contact_Info ul span {
  margin-top: 30px;
  display: block;
}
body #footer .footer_ABOUT_US_Contact_Info ul p {
  margin: 0;
}
body #footer .footer_NEWSLETTER {
  width: 20%;
}
body #footer .footer_NEWSLETTER h3 {
  color: white;
  font-size: 22px;
}
body #footer .footer_NEWSLETTER .footer_NEWSLETTER_inputAndBtn {
  display: flex;
  align-items: center;
}
body #footer .footer_NEWSLETTER .footer_NEWSLETTER_inputAndBtn input {
  margin-bottom: 30px;
  padding: 13px;
  font-size: 15px;
  outline: none;
}
@media screen and (max-width: 992px) {
  body #footer .footer_NEWSLETTER .footer_NEWSLETTER_inputAndBtn input {
    padding: 8px;
  }
}
body #footer .footer_NEWSLETTER .footer_NEWSLETTER_inputAndBtn button {
  margin-bottom: 30px;
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  background-color: #c57600;
  border: none;
  transition: all 0.2s;
}
body #footer .footer_NEWSLETTER .footer_NEWSLETTER_inputAndBtn button:hover {
  background-color: #ff9900;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  body #footer .footer_NEWSLETTER .footer_NEWSLETTER_inputAndBtn button {
    padding: 10px 15px;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 992px) {
  body #footer .footer_NEWSLETTER .footer_NEWSLETTER_inputAndBtn {
    display: block;
    align-items: none;
    transition: all 0.5s;
  }
}
body #footer .footer_NEWSLETTER ul {
  list-style: none;
  display: flex;
}
body #footer .footer_NEWSLETTER ul li {
  margin: 20px 12px 0px 0px;
  padding: 10px;
}
body #footer .footer_NEWSLETTER ul li i {
  color: white;
}
body #footer .footer_NEWSLETTER ul .container_icon_fb {
  background-color: #3b5998;
}
body #footer .footer_NEWSLETTER ul .container_icon_twt {
  background-color: #1da1f2;
}
body #footer .footer_NEWSLETTER ul .container_icon_bkb {
  background-color: #ea4c89;
}
body #footer .footer_NEWSLETTER ul .container_icon_gg {
  background-color: #f44336;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes color_change-3x {
  0% {
    background: #17181b;
  }
  50% {
    background: #272729;
  }
  100% {
    background: #333436;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes bg-pan-bl {
  0% {
    background-position: 100% 0%;
  }
  20% {
    background-position: 0% 100%;
  }
  40% {
    background-position: 100% 0%;
  }
  60% {
    background-position: 0% 100%;
  }
  80% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/*# sourceMappingURL=main.css.map */
